{% extends "base.html" %}
{% load static %}

{% block title %}{{ category }}{% endblock %}

{% block content %}

    <!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area bread-bg"
{% if breadcrumb_images.about_us_bread_image %}
        style="background-image: url('{{ breadcrumb_images.about_us_bread_image.url }}');"
{% endif %}
>
    <div class="breadcrumb-wrap">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-content">
              <div class="section-heading">
                <h2 class="sec__title line-height-50 text-white">{{aboutuscontent.cover_image_title |safe}}</h2>
              </div>
            </div>
            <!-- end breadcrumb-content -->
          </div>
          <!-- end col-lg-12 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- end breadcrumb-wrap -->
    <div class="bread-svg-box">
      <svg
        class="bread-svg"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 10"
        preserveAspectRatio="none"
      >
        <polygon points="100 0 50 10 0 0 0 10 100 10"></polygon>
      </svg>
    </div>
    <!-- end bread-svg -->
  </section>
  <!-- end breadcrumb-area -->
  <!-- ================================
  END BREADCRUMB AREA
================================= -->


    <!-- ================================
    START INFO AREA
================================= -->
<section class="info-area padding-top-100px padding-bottom-70px">
    <div class="container">
      <div class="row">
        {% for brand_narrative in brand_narratives %}
        {% include 'partials/brand_narrative_card.html' with brand_narrative=brand_narrative%}
        {% endfor %}
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end info-area -->
  <!-- ================================
  END INFO AREA
================================= -->


    <!-- ================================
    START ABOUT AREA
================================= -->
<section class="about-area padding-bottom-90px overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading margin-bottom-40px">
            <h2 class="sec__title">{{aboutuscontent.about_us_title}}</h2>
            <!-- <h4 class="title font-size-16 line-height-26 pt-4 pb-2">
              Since 2002, TRIZEN has been revolutionising the travel industry.
              Metasearch for travel? No one was doing it. Until we did.
            </h4> -->
            <p class="sec__desc font-size-16 pb-3">{{aboutuscontent.about_us_description}}</p>
          </div>
          <!-- end section-heading -->
        </div>
        <!-- end col-lg-6 -->
        <div class="col-lg-5 ms-auto">
          <div class="image-box about-img-box">
            <img
              src="{% static 'images/teamimg.jpg' %}"
              alt="about-img"
              class="img__item img__item-1"
            />
            <img
              src="{% static 'images/hero-bg3.jpeg' %}"
              alt="about-img"
              class="img__item img__item-2"
            />
          </div>
        </div>
        <!-- end col-lg-5 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end about-area -->
  <!-- ================================
  END ABOUT AREA
================================= -->


    <!-- ================================
    STAR FUNFACT AREA
================================= -->
<section class="funfact-area padding-bottom-70px">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading text-center">
            <h2 class="sec__title">{{aboutuscontent.company_statistics_title}}</h2>
          </div>
          <!-- end section-heading -->
        </div>
        <!-- end col-lg-12 -->
      </div>
      <!-- end row -->
      <div class="counter-box counter-box-2 margin-top-60px mb-0">
        <div class="row">
          <div class="col-lg-3 responsive-column">
            <div class="counter-item counter-item-layout-2 d-flex">
              <div class="counter-icon flex-shrink-0">
                <i class="la la-users"></i>
              </div>
              <div class="counter-content">
                <div>
                  <span
                    class="counter"
                    data-from="0"
                    data-to="200"
                    data-refresh-interval="5"
                    >0</span
                  >
                  <span class="count-symbol">+</span>
                </div>
                <p class="counter__title">Partners</p>
              </div>
              <!-- end counter-content -->
            </div>
            <!-- end counter-item -->
          </div>
          <!-- end col-lg-3 -->
          <div class="col-lg-3 responsive-column">
            <div class="counter-item counter-item-layout-2 d-flex">
              <div class="counter-icon flex-shrink-0">
                <i class="la la-building"></i>
              </div>
              <div class="counter-content">
                <div>
                  <span
                    class="counter"
                    data-from="0"
                    data-to="3"
                    data-refresh-interval="5"
                    >0</span
                  >
                  <span class="count-symbol">k</span>
                </div>
                <p class="counter__title">Properties</p>
              </div>
              <!-- end counter-content -->
            </div>
            <!-- end counter-item -->
          </div>
          <!-- end col-lg-3 -->
          <div class="col-lg-3 responsive-column">
            <div class="counter-item counter-item-layout-2 d-flex">
              <div class="counter-icon flex-shrink-0">
                <i class="la la-globe"></i>
              </div>
              <div class="counter-content">
                <div>
                  <span
                    class="counter"
                    data-from="0"
                    data-to="400"
                    data-refresh-interval="5"
                    >0</span
                  >
                  <span class="count-symbol">+</span>
                </div>
                <p class="counter__title">Destinations</p>
              </div>
              <!-- end counter-content -->
            </div>
            <!-- end counter-item -->
          </div>
          <!-- end col-lg-3 -->
          <div class="col-lg-3 responsive-column">
            <div class="counter-item counter-item-layout-2 d-flex">
              <div class="counter-icon flex-shrink-0">
                <i class="la la-check-circle"></i>
              </div>
              <div class="counter-content">
                <div>
                  <span
                    class="counter"
                    data-from="0"
                    data-to="40"
                    data-refresh-interval="5"
                    >0</span
                  >
                  <span class="count-symbol">k</span>
                </div>
                <p class="counter__title">Booking</p>
              </div>
              <!-- end counter-content -->
            </div>
            <!-- end counter-item -->
          </div>
          <!-- end col-lg-3 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end counter-box -->
    </div>
    <!-- end container -->
  </section>
  <!-- ================================
  END FUNFACT AREA
================================= -->

    <!-- ================================
       START TESTIMONIAL AREA
================================= -->
<section class="testimonial-area section-bg section-padding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4">
          <div class="section-heading">
            <h2 class="sec__title line-height-50">{{aboutuscontent.testimonial_title}}</h2>
            <p class="sec__desc padding-top-30px">{{aboutuscontent.testimonial_description}}</p>
          </div>
          <!-- end section-heading -->
        </div>
        <!-- end col-lg-4 -->
        <div class="col-lg-8">
          <div class="testimonial-carousel carousel-action">
            {% for testimonial in testimonials %}
              {% include 'partials/testimonial_card.html' with testimonial=testimonial %}
            {% endfor %}
          </div>
          <!-- end testimonial-carousel -->
        </div>
        <!-- end col-lg-8 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end testimonial-area -->
  <!-- ================================
     START TESTIMONIAL AREA
================================= -->


    <!-- ================================
    START INFO AREA
================================= -->
{% if teams %}
<section class="info-area padding-top-100px padding-bottom-60px text-center">
<div class="container" id="team">
  <div class="row">
    <div class="col-lg-12">
      <div class="section-heading">
        <h2 class="sec__title">{{aboutuscontent.team_title}}</h2>
      </div>
      <!-- end section-heading -->
    </div>
    <!-- end col-lg-12 -->
  </div>
  <!-- end row -->
  <div class="row padding-top-100px">
    {% for team in teams %}
    {% include 'partials/team_card.html' with  team=team%}
    {% endfor %}
  </div>
  <!-- end row -->
</div>
<!-- end container -->
</section>
{% endif %}
<!-- end info-area -->
<!-- ================================
END INFO AREA
================================= -->




{% endblock %}
