{% load static %}
<div class="col-lg-4 responsive-column mb-4 list-card">
    <div class="card-item">
        <div class="card-img package-list-card">
        <a href="{% url 'package_detail' category=package.category slug=package.slug %}" class="d-block">
            {% if package.featured_image %}
            <img src="{{package.featured_image.url}}" alt="Destination-img" />
            {%else%}
            <img src="{% static 'images/default-images/default-package-image.jpeg' %}" alt="Destination-img" />
            {%endif%}
        </a>
        <!-- <div
            class="add-to-wishlist icon-element"
            data-bs-toggle="tooltip"
            data-placement="top"
            title="Save for Later"
        >
            <i class="la la-heart-o"></i>
        </div> -->
        {% if package.is_bestseller %}
        <span class="badge">Bestseller</span>
        {% endif %}
        {% if package.old_price %}
        <span class="badge badge-ribbon">{{package.save_percentage}}% Save</span>
        {% endif %}
        </div>
        <div class="card-body">
        <h3 class="card-title">
            <a href="{% url 'package_detail' category=package.category slug=package.slug %}">{{package.title}}</a>
        </h3>
        <p class="card-meta">{{package.location}}</p>
        <!-- <p class="card-description">{{ package.description|truncatewords:20 }}{% if package.description|length > 20 %}...{% endif %}</p> -->
        <p class="card-description">{{ package.description|truncatechars:200 }}</p>

       
        <div
            class="card-price d-flex align-items-center justify-content-between"
        >
            <p>
            <span class="price__from me-2">From</span>
            <span class="price__num me-2">{{site_settings.currency}} {{package.price}}</span>
            
            {% if package.old_price%}
            <span class="price__num before-price color-text-3"
                >{{site_settings.currency}} {{package.old_price}}</span
            >
            {% endif%}

            </p>
            <span class="tour-hour"
            ><i class="la la-clock-o me-1"></i>{{package.duration}}</span
            >
        </div>
        </div>
    </div>
    <!-- end card-item -->
    </div>
