{% load static %}
<div id="review-box" class="page-scroll">
    <div class="single-content-item padding-top-40px padding-bottom-40px">
        <h3 class="title font-size-20">Reviews</h3>
        <div class="review-wrapper">
            <div class="review-box-header-wrapper">
                <div class="review-box-header-carousel owl-carousel owl-theme">
                    <div class="item" data-source="allreviews">
                        <img class="platform-logo" src="{% static '/images/google.svg' %}" class="item-logo" alt="Logo">
                        <span>All reviews</span>
                        <span class="ps-2 font-weight-bold">4.8</span>
                    </div>
                    <div class="item" data-source="google">
                        <img class="platform-logo" src="{% static '/images/google.svg' %}" class="item-logo" alt="Logo">
                        <span>Google</span>
                        <span class="ps-2 font-weight-bold">4.8</span>
                    </div>
                    <div class="item" data-source="facebook">
                        <img class="platform-logo" src="{% static '/images/facebook.svg' %}" class="item-logo" alt="Logo">
                        <span>Facebook</span>
                        <span class="ps-2 font-weight-bold">4.8</span>
                    </div>
                    <div class="item" data-source="tripadvisor">
                        <img class="platform-logo" src="{% static '/images/tripadvisor.svg' %}" class="item-logo" alt="Logo">
                        <span>Tripadvisor</span>
                        <span class="ps-2 font-weight-bold">4.8</span>
                    </div>
                    
                    

                </div>
                <div class="section-block"></div>



                <div class="rating-overview">
                    <div class="rating-overview-title">Google Reviews</div>
                    <div class="rating-overview-data">
                    <span class="ratings-value">5.0</span>
                    <span class="ratings d-flex align-items-center me-1">
                        <i class="la la-star"></i>
                        <i class="la la-star"></i>
                        <i class="la la-star"></i>
                        <i class="la la-star"></i>
                        <i class="la la-star"></i>                          
                    </span>
                    <span class="total-ratings">(5130)</span>

                    </div>

                </div>


            
            </div>

            <div class="review-box-list-wrapper">
                <div class="review-box-list-carousel owl-carousel owl-theme owl-loaded">
                    <div class="item">
                        <div class="review-card">
                            <span class="ratings d-flex align-items-center me-1">
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>                          
                            </span>
                            <div class="review-data">Check out these awesome tours and activities in United Arab Emirates Check out these awesome tours and activities in United Arab Emirates</div>
                        
                            <div class="author-content d-flex align-items-center">
                                <div class="author-img">
                                    <img src="{%static 'images/author.png'%}" alt="testimonial image" />
                                </div>
                                <div class="author-bio">
                                    <h4 class="author__title">Leroy Bell</h4>
                                    <!-- <span class="author__meta">United States</span> -->
                                </div>
                            </div>
                            
                        
                        
                        </div>
                    </div>
                    <div class="item">
                        <div class="review-card">
                            <span class="ratings d-flex align-items-center me-1">
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>                          
                            </span>
                            <div class="review-data">Check out these awesome tours and activities in United Arab Emirates Check out these awesome tours and activities in United Arab Emirates</div>
                        
                            <div class="author-content d-flex align-items-center">
                                <div class="author-img">
                                    <img src="{%static 'images/author.png'%}" alt="testimonial image" />
                                </div>
                                <div class="author-bio">
                                    <h4 class="author__title">Leroy Bell</h4>
                                    <!-- <span class="author__meta">United States</span> -->
                                </div>
                            </div>
                            
                        
                        
                        </div>
                    </div>
                    <div class="item">
                        <div class="review-card">
                            <span class="ratings d-flex align-items-center me-1">
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>                          
                            </span>
                            <div class="review-data">Check out these awesome tours and activities in United Arab Emirates Check out these awesome tours and activities in United Arab Emirates</div>
                        
                            <div class="author-content d-flex align-items-center">
                                <div class="author-img">
                                    <img src="{%static 'images/author.png'%}" alt="testimonial image" />
                                </div>
                                <div class="author-bio">
                                    <h4 class="author__title">Leroy Bell</h4>
                                    <!-- <span class="author__meta">United States</span> -->
                                </div>
                            </div>
                            
                        
                        
                        </div>
                    </div>
                    <div class="item">
                        <div class="review-card">
                            <span class="ratings d-flex align-items-center me-1">
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>                          
                            </span>
                            <div class="review-data">Check out these awesome tours and activities in United Arab Emirates Check out these awesome tours and activities in United Arab Emirates</div>
                        
                            <div class="author-content d-flex align-items-center">
                                <div class="author-img">
                                    <img src="{%static 'images/author.png'%}" alt="testimonial image" />
                                </div>
                                <div class="author-bio">
                                    <h4 class="author__title">Leroy Bell</h4>
                                    <!-- <span class="author__meta">United States</span> -->
                                </div>
                            </div>
                            
                        
                        
                        </div>
                    </div>
                    <div class="item">
                        <div class="review-card">
                            <span class="ratings d-flex align-items-center me-1">
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>                          
                            </span>
                            <div class="review-data">Check out these awesome tours and activities in United Arab Emirates Check out these awesome tours and activities in United Arab Emirates</div>
                        
                            <div class="author-content d-flex align-items-center">
                                <div class="author-img">
                                    <img src="{%static 'images/author.png'%}" alt="testimonial image" />
                                </div>
                                <div class="author-bio">
                                    <h4 class="author__title">Leroy Bell</h4>
                                    <!-- <span class="author__meta">United States</span> -->
                                </div>
                            </div>
                            
                        
                        
                        </div>
                    </div>
                    <div class="item">
                        <div class="review-card">
                            <span class="ratings d-flex align-items-center me-1">
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>                          
                            </span>
                            <div class="review-data">Check out these awesome tours and activities in United Arab Emirates Check out these awesome tours and activities in United Arab Emirates</div>
                        
                            <div class="author-content d-flex align-items-center">
                                <div class="author-img">
                                    <img src="{%static 'images/author.png'%}" alt="testimonial image" />
                                </div>
                                <div class="author-bio">
                                    <h4 class="author__title">Leroy Bell</h4>
                                    <!-- <span class="author__meta">United States</span> -->
                                </div>
                            </div>
                            
                        
                        
                        </div>
                    </div>
                    <div class="item">
                        <div class="review-card">
                            <span class="ratings d-flex align-items-center me-1">
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>                          
                            </span>
                            <div class="review-data">Check out these awesome tours and activities in United Arab Emirates Check out these awesome tours and activities in United Arab Emirates</div>
                        
                            <div class="author-content d-flex align-items-center">
                                <div class="author-img">
                                    <img src="{%static 'images/author.png'%}" alt="testimonial image" />
                                </div>
                                <div class="author-bio">
                                    <h4 class="author__title">Leroy Bell</h4>
                                    <!-- <span class="author__meta">United States</span> -->
                                </div>
                            </div>
                            
                        
                        
                        </div>
                    </div>
                    
                </div>

                <div class="review-button">
                <button class="theme-btn theme-btn-small submit-btn" type="submit">
                    Read More on Tripadvisor
                </button>
                </div>
            </div>

        </div>
    </div>
</div>


