{% load static %}
<div class="testimonial-card">
    <div class="testi-desc-box">
      <p class="testi__desc">{{testimonial.message}}</p>
    </div>
    <div class="author-content d-flex align-items-center">
      <div class="author-img">
        {% if testimonial.profile_image %}
          <img src="{{testimonial.profile_image.url}}" alt="testimonial image" />
        {% else %}
          <img src="{% static 'images/author.png' %}" alt="testimonial image" />
        {% endif %}
        </div>
      <div class="author-bio">
        <h4 class="author__title">{{testimonial.name}}</h4>
        <span class="author__meta">{{testimonial.location}}</span>
      </div>
    </div>
  </div>