<div class="testimonial-card">
    <div class="testi-desc-box">
      <p class="testi__desc">
        Excepteur sint occaecat cupidatat non proident sunt in culpa
        officia deserunt mollit anim laborum sint occaecat cupidatat
        non proident.
      </p>
    </div>
    <div class="author-content d-flex align-items-center">
      <div class="author-img">
        <img src="static/images/author.png" alt="testimonial image" />
      </div>
      <div class="author-bio">
        <h4 class="author__title">Leroy Bell</h4>
        <span class="author__meta">United States</span>
        <span class="ratings d-flex align-items-center">
          <i class="la la-star"></i>
          <i class="la la-star"></i>
          <i class="la la-star"></i>
          <i class="la la-star"></i>
          <i class="la la-star"></i>
        </span>
      </div>
    </div>
  </div>