{% extends "base.html" %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}





    <!-- ================================
    START CARD AREA
================================= -->
<section class="card-area pt-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div
            class="card-item blog-card blog-card-layout-2 blog-single-card mb-5"
          >

            <div class="card-img blog-img before-none">
              {% if blog.cover_image %}
              <img src="{{blog.cover_image.url}}" alt="blog-img" />
              {% endif %}
            </div>


            <div class="card-body px-0 pb-0">
              <div class="post-categories">
                <a href="#" class="badge">Travel</a>
                <a href="#" class="badge">lifestyle</a>
              </div>
              <h3 class="card-title font-size-28">
                {{blog.title}}
              </h3>
              <p class="card-meta pb-3">
                <span class="post__author">By {{blog.author.name}}</span
                >
                <span class="post-dot"></span>
                <span class="post__date">{{blog.date|date:"F j, Y" }}</span>
              </p>
              <div class="section-block"></div>
              <p class="card-text py-3">{{blog.intro}}</p>
              <div class="photo-block-gallery">
                <h3 class="title pb-2">{{blog.components.first.heading}}jj</h3>
                <p class="card-text pb-4">
                  Quodsi sanctus pro eu, ne audire scripserit quo. Vel an enim
                  offendit salutandi, in eos quod omnes epicurei, ex veri
                  qualisque scriptorem mei.
                </p>
                <div class="row">
                  <div class="col-lg-4 responsive-column">
                    <div class="photo-block-item">
                      <a
                        href="{{blog.components.first.single_image.url}}"
                        data-fancybox="gallery"
                        data-caption="Showing image - 01"
                        data-speed="700"
                      >
                        <img src="{% static 'images/hero-bg31.jpg' %}" alt="img" />
                      </a>
                    </div>
                  </div>
                  <!-- end col-lg-4 -->
                  <div class="col-lg-4 responsive-column">
                    <div class="photo-block-item">
                      <a
                        href="{% static 'images/hero-bg31.jpg' %}"
                        data-fancybox="gallery"
                        data-caption="Showing image - 02"
                        data-speed="700"
                      >
                        <img src="{% static 'images/hero-bg31.jpg' %}" alt="img" />
                      </a>
                    </div>
                  </div>
                  <!-- end col-lg-4 -->
                  <div class="col-lg-4 responsive-column">
                    <div class="photo-block-item">
                      <a
                        href="{% static 'images/hero-bg31.jpg' %}"
                        data-fancybox="gallery"
                        data-caption="Showing image - 03"
                        data-speed="700"
                      >
                        <img src="{% static 'images/hero-bg31.jpg' %}" alt="img" />
                      </a>
                    </div>
                  </div>
                  <!-- end col-lg-4 -->
                  <div class="col-lg-6 responsive-column">
                    <div class="photo-block-item">
                      <a
                        href="{% static 'images/hero-bg31.jpg' %}"
                        data-fancybox="gallery"
                        data-caption="Showing image - 04"
                        data-speed="700"
                      >
                        <img src="{% static 'images/hero-bg31.jpg' %}" alt="img" />
                      </a>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                  <div class="col-lg-6 responsive-column">
                    <div class="photo-block-item">
                      <a
                        href="{% static 'images/hero-bg31.jpg' %}"
                        data-fancybox="gallery"
                        data-caption="Showing image - 05"
                        data-speed="700"
                      >
                        <img src="{% static 'images/hero-bg31.jpg' %}" alt="img" />
                      </a>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                </div>
                <!-- end row -->
              </div>
              <p class="card-text padding-bottom-35px">
                Duis mollis, est non commodo luctus, nisi erat porttitor
                ligula, eget lacinia odio sem nec elit. Cras mattis
                consectetur purus sit amet fermentum. Morbi leo risus, porta
                ac consectetur ac, vestibulum at eros. Praesent commodo cursus
                magna, vel scelerisque nisl consectetur et.
              </p>
              
              <h3 class="title">Make better travel decisions</h3>
              <p class="card-text pt-3 pb-4">
                Duis mollis, est non commodo luctus, nisi erat porttitor
                ligula, eget lacinia odio sem nec elit. Cras mattis
                consectetur purus sit amet fermentum. Morbi leo risus, porta
                ac consectetur ac, vestibulum at eros. Vestibulum id ligula
                porta felis euismod semper. Donec id elit non mi porta gravida
                at eget metus. Vestibulum id ligula porta felis euismod semper
              </p>
              <div class="section-block"></div>
              <h3 class="title pt-4">Getting Started</h3>
              <p class="card-text py-3">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                eaque ipsa quae ab illo inventore incididunt ut labore et
                dolore magna Boot camps have its supporters and its
                detractors. Some people do not understand why you should have
                to spend money on boot camp when you can get the MCSE study
                materials yourself at a fraction of the camp price.
              </p>
              <p class="card-text pb-4">
                However, who has the willpower to actually sit through a
                self-imposed MCSE training. who has the willpower to actually
                sit through a self-imposed
              </p>
              <div class="section-block"></div>
              <div
                class="post-tag-wrap d-flex align-items-center justify-content-between py-4"
              >
                <ul class="tag-list">
                  <li><a href="#">Tour</a></li>
                  <li><a href="#">Nature</a></li>
                  <li><a href="#">Beaches</a></li>
                </ul>
                <div class="post-share">
                  <ul>
                    <li>
                      <i class="la la-share icon-element"></i>
                      <ul
                        class="post-share-dropdown d-flex align-items-center"
                      >
                        <li>
                          <a href="#"><i class="lab la-facebook-f"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="lab la-twitter"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="lab la-instagram"></i></a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="section-block"></div>
              <div
                class="post-navigation d-flex justify-content-between py-4"
              >
                <a href="#" class="btn theme-btn-hover-gray line-height-35"
                  ><i class="la la-arrow-left me-2"></i>The best hotels in
                  Europe: 2020</a
                >
                <a href="#" class="btn theme-btn-hover-gray line-height-35"
                  >The 10 best flight journeys in the world<i
                    class="la la-arrow-right ms-2"
                  ></i
                ></a>
              </div>
              <div class="section-block"></div>
              <div class="post-author-wrap">
                <div class="author-content pt-5">
                  <div class="d-flex">
                    <div class="author-img author-img-md me-4">
                      {% if blog.author.profile_image %}
                          <img src="{{ blog.author.profile_image.url }}" alt="{{ blog.author.name }}" />
                      {% else %}
                          <img src="{% static 'images/no-profile.png' %}" alt="Default author image" />
                      {% endif %}

                    </div>
                    <div class="author-bio">
                      <h4 class="author__title">{{blog.author.name}}</h4>
                      {% if blog.author.description %}
                        <span class="author__meta">About the Author</span>
                        <p class="author__text pt-1">{{blog.author.description}}</p>
                      {% endif %}
                      <ul class="social-profile pt-3">

                        {% if blog.author.social_facebook %}
                        <li>
                          <a href="{{blog.author.social_facebook}}"><i class="lab la-facebook-f"></i></a>
                        </li>
                        {% endif %}
                        {% if blog.author.social_twitter %}
                        <li>
                          <a href="{{blog.author.social_twitter}}"><i class="lab la-twitter"></i></a>
                        </li>
                        {% endif %}
                        {% if blog.author.social_instagram %}
                        <li>
                          <a href="{{blog.author.social_instagram}}"><i class="lab la-instagram"></i></a>
                        </li>
                        {% endif %}
                        {% if blog.author.social_linkedin %}
                        <li>
                          <a href="{{blog.author.social_linkedin}}"><i class="lab la-linkedin-in"></i></a>
                        </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end card-item -->
          <div class="section-block"></div>
          <div class="related-posts pt-5 pb-4">
            <h3 class="title">Related Posts</h3>
            <div class="row pt-4">

                {% include 'partials/blog_card.html' %}
                {% include 'partials/blog_card.html' %}
                {% include 'partials/blog_card.html' %}
                
              
            </div>
            <!-- end row -->
          </div>
          <div class="section-block"></div>
        
        
        </div>
        <!-- end col-lg-8 -->
      
        <!-- end col-lg-4 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end card-area -->
  <!-- ================================
  END CARD AREA
================================= -->


{% endblock %}
